

@font-face {
    font-family:metropolis;
    src: url(fonts/metropolis.regular.otf);
}

* {
    /* box-sizing: border-box;
    margin: 0;
    padding: 0; */
    /* border: solid gray 1px; */
}

body {
    font-family: "metropolis", sans-serif;
    color: #5c5a5a;
}

p {
    color: #5c5a5a;
}
.navbar {
    background-color: white !important;
}

img {
    width: 200px;
    filter: grayscale(100%) contrast(140%);
}

h3 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #212529;
}

.btn {
    border-radius: 0;
    background-color: #212529;
}

#logo-bar {
    background-color: #e8e5de;
}

.bg-color-1 {
    background-color: #b0bcaf;
}

.bg-color-2 {
    background-color: #e5d4d3;
}

.klav {
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    font-size: larger;
}

.col {
    min-width: 400px;
}

.form-control {
    min-width: 350px;
}